@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700");

/*---- COLOURS ----------------------------------------------------------------*/

$palebluegrey: #DAE0E5;                       /*-- nav bar background --*/
$facebook: #3B5998;
$twitter: #1DA1F2;
$youtube: #FF0000;
$white: #ffffff;
$darkbluegrey: #416777;
$charcoal: #282828;                                     /*-- nav link --*/
$offwhite: #f9f7bd;                               /*-- nav link hover --*/
$blue:  #136599;                                   /*-- priority link --*/
$smoke: #fafbf5;
$heather: #c5b9b9;                                
$saltireblue: rgb(37, 72, 180);
$greengrey: #2A7150;
$browngrey: #bab573;


/*---- GENERAL ----------------------------------------------------------------*/

body {
  font-size: 2.5vmin;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

p {
  font-size: 2.5vmin;
}

.pale-background {
  background-color: $palebluegrey;
}

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  &:hover {
    text-decoration: none;
  }
}

label {
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.fb-link {
  background-color: $facebook;
}

.twitter-link {
  background-color: $facebook;
}

.yt-link {
  background-color: $youtube;
}

.fab, .white-text {
  color: $white;
}

.full-width {
  width: 95vw;
}

.text-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.top-link {
  float: right;
  padding-right: 5vw;
  color: rgba(65, 103, 119, 0.5);
}

.error-link {
  color: $blue;
  &:hover {
    color: $darkbluegrey;
  }
}

/*---- NAVBAR -----------------------------------------------------------------*/

.nav-container {
  background-color: transparent;
  padding: 0;
}

.navbar {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  border: 0;
}

.navbar-nav {
  margin: 7.5px 0;
}

.navbar-collapse {
  width: 95vw;
}

#navbar {
  margin: 0;
  padding: 0;
}

.navbar-default {
  .navbar-nav > .active > a {
    background-color: transparent;
    &:focus, &:hover {
      background-color: transparent;
    }
  }
  .navbar-toggle {
    &:focus, &:hover {
      background-color: transparent;
    }
  }
  .navbar-collapse {
    border-color: transparent;
  }
  .navbar-toggle {
    border: 0;
    float: left;
    margin-left: 10px;
    .icon-bar {
      background-color: $darkbluegrey;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  padding-top: 5px;
  color: $charcoal;
  &:hover {
    color: lighten( $charcoal, 30% );
    transition: all 0.35s ease-in-out;
  }
}

.navbar-default .navbar-text {
    color: $charcoal;
    &:hover {
    color: lighten( $charcoal, 30% );
    transition: all 0.35s ease-in-out;
  }
}

.navbar-text {
  margin-top: 12.5px;
  margin-bottom: 0;
}

.navbar-right {
  margin-right: 15px;
}

/*---- LOGO -------------------------------------------------------------------*/

.logo-container {
  background-color: $smoke;
  padding: 0;
  margin: 0;
  border: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.tartan-background {
  background: url(../images/ancient-caledonian.jpg) center;
  background-size: cover;
  height: 50px;
  width: 100%;
}

.tartan-bar {
  margin: 0;
  padding: 0;
}

.language-selector {
  text-align: right;
}

.language-link {
  color: $heather;
  &:hover {
    color: $white;
  }
}

/*---- MAIN -------------------------------------------------------------------*/

.next-show {
  background-color: $blue;
  padding-top: 50px;
  padding-bottom: 50px;
  color: $heather;
}

.next-show-picture {
  margin-top: 0;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.next-show-heading {
  margin-top: 0;
  padding-bottom: 20px;
}

.next-show-text {
  font-weight: 400;
  padding-top: 15px;
}

.pad-right {
  padding-right: 80px;
  text-align: left;
}

.next-show-link {
  color: $offwhite;
  &:hover {
    color: $charcoal;
    transition: all 0.35s ease-in-out;
  }
}

/*---- PHOTOS -----------------------------------------------------------------*/

.photo-bar {
  background: url(../images/tattoo.jpg) center no-repeat;
  background-size: cover;
  min-height: 400px;
}

/*---- INLINE KONTAKT FORM ----------------------------------------------------*/

.form-wrapper {
  margin: 40px;
}

.inline-kontakt-form-input {
  height: 30px;
}

/*---- SOCIAL -----------------------------------------------------------------*/

.social {
  margin: 20px 0 0;
  background-color: $palebluegrey;
}

.social-heading {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}

.social-links {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
  border-radius: 4px;
}

/*---- KONTAKT ----------------------------------------------------------------*/

.background-picture {
  background-color: $saltireblue;
  background: url(../images/salute.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.kontakt-wrapper {
  position: relative;
  z-index: 2;
}

.kontakt {
  padding-top: 120px;
}

.mask {
  background-image: linear-gradient(rgba( $white, .6 ), rgba( $white, .2 ));
}

.contact-details-container {
  padding: 15px;
}

.kontakt-sub {
  margin-top: 0;
  font-weight: 400;
}

.kontakt-list {
  list-style-type: none;
  padding: 0 0 50px 0;
  li {
    font-weight: 500;
    padding: 5px 0;
  }
}

.kontakt-FA i {
  font-size: 28px;
}

.kontakt-list a {
  text-decoration: none;
  color: $darkbluegrey;
  &:hover {
    text-decoration: none;
    color: $charcoal;
    transition: all 0.35s ease-in-out;
  }
}

.form-container {
  padding: 15px;
}

.kontakt-form-textarea {
  height: 150px;
}

.inline-kontakt-form-textarea {
  height: 100px;
}

.kontakt-form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #416777;
  border-radius: 0;
  outline: none;
  font-size: 20px;
  margin: 0 0 15px 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.kontakt-page-form {
  width: 100%;
  background-color: rgba($white, 0.73);
}

.kontakt-page-form-input {
  height: 60px;
}

.btn-success {
  background-color: $darkbluegrey;
  border: none;
  &:active {
    background-color: $greengrey;
  }
  &:hover {
    background-color: $blue;
  }
}

.kontakt-twitter {
  color: $twitter;
  &:hover {
    color: $white;
  }
}

.kontakt-facebook {
  color: $facebook;
  &:hover {
    color: $white;
  }
}

.kontakt-container {
  position: absolute;
}

/*---- HISTORY ----------------------------------------------------------------*/

.photo-container {
  padding: 0;
}

.logo-background {
  padding-top: 70px;
  background: url(../images/logo.jpg) center center no-repeat;
  background-size: contain;
  height: 200px;
  border: 0;
}

@media (min-width: 768px) {
  .logo-background {
    background-attachment: fixed;
    height: 100vh;
  }
}

.burns-night {
  background-color: $browngrey;
  height: 700px;
}

.blue-background {
  background-color: darken $darkbluegrey, 20%;
}

.canada-picture {
  width: 100%;
}

.history-caption {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  color: $white;
}

.caption-size {
  font-size: 4vw;
}

/*---- TERMINE ----------------------------------------------------------------*/

.background-formation {
  background-image: url("../images/hcpd-formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;
  background-color:darken($darkbluegrey, 20%);
  margin: 0;
  padding: 0;
}

.termine-background {
  background-color: rgba($white, 0.55);
  margin: 0;
}

/*---- SMALLPIPES -------------------------------------------------------------*/

.smallpipes-caption {
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  padding-left: 35px;
}

.picture {
  text-align: center;
}

.embed-responsive {
  margin: 10px;
}

/*---- FOOTER -----------------------------------------------------------------*/

footer {
  background-color: $palebluegrey;
  color: $darkbluegrey;
  min-height: 75px;
  font-family: "Oswald", sans-serif;
}

.footer-links {
  padding: 30px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  i {
    font-size: 28px;
  }
  a {
    color: $darkbluegrey;
    &:hover {
      color: $charcoal;
      transition: all 0.35s ease-in-out;
    }
  }
}

.newletter-input {
  width: 80%;
}

input[type="submit"] {
  border-radius: 7px;
  &:hover {
    background-color: $darkbluegrey;
    color: $palebluegrey;
    transition: all .35s ease-in-out;
  }
  &:active {
    background-color: $palebluegrey;
    color: black;
    transition: all .35s ease-in-out;
  }
}