@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');


/*-- GENERAL --------------------------------------------------------------------*/

body {
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

p {
    font-size: 20px;
}

.pale-background {
    background-color: #DAE0E5;
}

a {
    text-decoration: none;
}

label {
    font-weight: 400;
    font-family: "Oswald", sans-serif;
}

.fb-link {
    background-color: #3B5998;
}

.twitter-link {
    background-color: #1DA1F2;
}

.yt-link {
    background-color: #FF0000;
}

.fab {
    color: #fff;
}
/*-- NAVBAR --------------------------------------------------------------------*/

.nav-container {
    background-color: transparent;
    padding: 0;
}

.navbar {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
}

.navbar-nav {
    margin: 7.5px 0;
    height: 40px;
}

#navbar {
    margin: 0;
    padding: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
    float: left;
    margin-left: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #416777;
}



/*-- .menu-item {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

.menu-item span {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 12px;
}

.menu-item a span {
    width: 100%;
    text-decoration: none;
    display: block;
    color: #282828;
    background-color: #f9f7bd;

}

.menu-item a span:hover {
    background-color: #282828;
    color: #f9f7bd;
}

.priority-menu-item a span {
    background-color: #136599;
    color: #f9f7bd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.priority-menu-item a span:hover {
    color: #136599;
    background-color: #f9f7bd;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.picture-menu-item {}

.logo-background {
    border-radius: 20px;
    border: 3px solid;
}

.picture-menu-item a img {
    border-color: transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.picture-menu-item a img:hover {
    border-color: #40aeac;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
} --*/



/*-- LOGO --------------------------------------------------------------------*/

.logo-container {
    height: 100vh;
    background: url(../images/logo.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tartan-background {
    background: url(../images/ancient-caledonian.jpg) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 50px;
}

.tartan-bar {
    padding-left: 0;
    padding-right: 0;
}


/*-- MAIN --------------------------------------------------------------------*/

.next-show {
    background-color: #F7F9F9;
    padding: 50px 0;

}

.next-show-picture {
    margin-top: 0;
    padding-left: 100px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.next-show-heading,
.next-show-text {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.next-show-link {
    text-align: center;
    font-weight: 400;
}



/*-- PHOTOS --------------------------------------------------------------------*/



.photo-bar {
    background: url(../images/tattoo.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
}




/*-- SOCIAL --------------------------------------------------------------------*/

.social {
    margin: 20px 0;
}


.social-heading {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 15px;
}

.social-links {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0;
}





/*-- KONTAKT --------------------------------------------------------------------*/



.background-picture {
    background-color: rgb(37, 72, 180);
    background: url(../images/salute.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}

.wedge-left {
    float: left;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    transform: skewX(45deg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.wedge-right {
    float: right;
    width: 50%;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    transform: skewX(-45deg);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}

.kontakt {
    padding-top: 120px;
}

.contact-details-container {
    padding: 15px;
}

.kontakt-header {
    margin: 20px 0;
}

.kontakt-sub {
    margin-top: 0;
    font-weight: 400;
}


.kontakt-list {
    list-style-type: none;
    padding: 0 0 50px 0;
}

.kontakt-list li {
    font-weight: 500;
    padding: 5px 0;
}

.kontakt-FA i {
    font-size: 28px;
}

.kontakt-list a {
    text-decoration: none;
    color: #416777;
}

.kontakt-list a:hover {
    text-decoration: none;
    color: #333;
}

.form-container {
    padding: 15px;
}

label {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.kontakt-form textarea {
    height: 150px;
}

.kontakt-form-input {
    background-color: rgba(255, 255, 255, 0.73);
    border: none;
    border-bottom: 1px solid #416777;
    border-radius: 0;
    outline: none;
    height: 60px;
    width: 100%;
    font-size: 20px;
    margin: 0 0 15px 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

.btn-success {
    background-color: #22597E;
    border: none;
}

.btn-success:active {
    background-color: #2A7150;
    border: none;
}

.btn-success:hover {
    background-color: #446CA3;
    border: none;
}



/*-- FOOTER --------------------------------------------------------------------*/

footer {
    background-color: #DAE0E5;
    color: #416777;
    min-height: 75px;
    font-family: "Oswald", sans-serif;
}

.footer-links {
    padding: 30px 0px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-links i {
    font-size: 28px;
}

.footer-links a {
    text-decoration: none;
    color: #416777;
}

.footer-links a:hover {
    color: #333;
}

.newletter-input {
    width: 80%;
}
