@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700");

/*---- GENERAL ----------------------------------------------------------------*/
body {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 300; }

p {
  font-size: 20px; }

.pale-background {
  background-color: #DAE0E5; }

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif; }
  a:hover {
    text-decoration: none; }

label {
  font-weight: 400;
  font-family: "Oswald", sans-serif; }

.fb-link {
  background-color: #3B5998; }

.twitter-link {
  background-color: #1DA1F2; }

.yt-link {
  background-color: #FF0000; }

.fab {
  color: #ffffff; }

.white-text {
  color: #ffffff; }

.full-width {
  width: 95vw; }

.text-padding {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.top-link {
  float: right;
  padding-right: 5vw;
  color: rgba(65, 103, 119, 0.5); }

.error-link {
  color: #136599; }
  .error-link:hover {
    color: #416777; }

/*---- NAVBAR -----------------------------------------------------------------*/
.nav-container, .navbar {
  background-color: transparent;
  padding: 0; }

.navbar {
  margin-bottom: 0; }

.navbar-nav {
  margin: 7.5px 0; }

#navbar {
  margin: 0;
  padding: 0; }

.navbar-default .navbar-nav > .active > a {
  background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }
.navbar-default .navbar-collapse {
  border-color: transparent; }
.navbar-default .navbar-toggle {
  border: 0;
  float: left;
  margin-left: 10px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #416777; }

.nav-link {
  color: #282828; }
  .nav-link:hover {
    color: #757575;
    transition: all 0.35s ease-in-out; }

.nav-priority-link {
  color: #282828;
  background-color: #136599; }
  .nav-priority-link:hover {
    color: #757575;
    transition: all 0.35s ease-in-out; }

.nav > li > a {
  padding-top: 5px; }

.navbar-text {
  margin-top: 7.5px;
  margin-bottom: 0; }

.navbar-right {
  margin-right: 15px; }

/*---- LOGO -------------------------------------------------------------------*/
.logo-container {
  background-color: #fafbf5;
  padding: 0;
  margin: 0;
  border: 0; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%; }

.tartan-background {
  background: url(../images/ancient-caledonian.jpg) center;
  background-size: cover;
  height: 50px;
  width: 100%; }

.tartan-bar {
  margin: 0;
  padding: 0; }

.language-selector {
  text-align: right; }

.language-link {
  color: #c5b9b9; }
  .language-link:hover {
    color: #ffffff; }

/*---- MAIN -------------------------------------------------------------------*/
.next-show {
  background-color: #136599;
  padding: 50px 0;
  color: #c5b9b9; }

.next-show-picture {
  margin-top: 0;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px; }

.next-show-heading {
  margin-top: 0;
  padding-bottom: 20px; }

.next-show-text {
  font-weight: 400;
  padding-top: 15px; }

.pad-right {
  padding-right: 80px;
  text-align: left; }

.next-show-link {
  color: #f9f7bd; }
  .next-show-link:hover {
    color: #282828;
    transition: all 0.35s ease-in-out; }

/*---- PHOTOS -----------------------------------------------------------------*/
.photo-bar {
  background: url(../images/tattoo.jpg) center no-repeat;
  background-size: cover;
  min-height: 400px; }

/*---- INLINE KONTAKT FORM ----------------------------------------------------*/
.form-wrapper {
  margin: 40px; }

.inline-kontakt-form-input {
  height: 30px; }

/*---- SOCIAL -----------------------------------------------------------------*/
.social {
  margin: 20px 0 0;
  background-color: #DAE0E5; }

.social-heading {
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 15px; }

.social-links {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
  border-radius: 4px; }

/*---- KONTAKT ----------------------------------------------------------------*/
.background-picture {
  background-color: #2548b4;
  background: url(../images/salute.jpg) center no-repeat;
  background-size: cover;
  position: relative; }

.kontakt-wrapper {
  position: relative;
  z-index: 2; }

.kontakt {
  padding-top: 120px; }

.contact-details-container {
  padding: 15px; }

.kontakt-sub {
  margin-top: 0;
  font-weight: 400; }

.kontakt-list {
  list-style-type: none;
  padding: 0 0 50px 0; }

.kontakt-list li {
  font-weight: 500;
  padding: 5px 0; }

.kontakt-FA i {
  font-size: 28px; }

.kontakt-list a {
  text-decoration: none;
  color: #416777; }
  .kontakt-list a:hover {
    text-decoration: none;
    color: #282828;
    transition: all 0.35s ease-in-out; }

.form-container {
  padding: 15px; }

.kontakt-form-textarea {
  height: 150px; }

.inline-kontakt-form-textarea {
  height: 100px; }

.kontakt-form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #416777;
  border-radius: 0;
  outline: none;
  font-size: 20px;
  margin: 0 0 15px 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.kontakt-page-form {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.73); }

.kontakt-page-form-input {
  height: 60px; }

.btn-success {
  background-color: #416777;
  border: none; }
  .btn-success:active {
    background-color: #2A7150; }
  .btn-success:hover {
    background-color: #136599; }

.kontakt-twitter {
  color: #1DA1F2; }
  .kontakt-twitter:hover {
    color: #ffffff; }

.kontakt-facebook {
  color: #3B5998; }
  .kontakt-facebook:hover {
    color: #ffffff; }

.kontakt-container {
  position: absolute; }

/*---- HISTORY ----------------------------------------------------------------*/
.photo-container {
  padding: 0; }

.logo-background {
  padding-top: 70px;
  background: url(../images/logo.jpg) center center no-repeat;
  background-size: contain;
  height: 100vh;
  border: 0; }
  @media (min-width: 992px) {
    .logo-background {
      background-attachment: fixed; } }

.burns-night {
  background-color: #bab573;
  background-image: url("../images/burnsnight.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 700px; }

.blue-background {
  background-color: darken #416777, 20%; }

.canada-picture {
  width: 100%; }

.history-caption {
  position: absolute;
  top: 80%;
  text-align: center;
  width: 100%;
  color: #ffffff; }

.caption-size {
  font-size: 4vw; }

/*---- TERMINE ----------------------------------------------------------------*/
.background-formation {
  background-image: url("../images/hcpd-formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  background-size: cover;
  background-color: #1d2e35;
  margin: 0;
  padding: 0; }

.termine-background {
  background-color: rgba(255, 255, 255, 0.55);
  margin: 0;
  padding: 0; }

/*---- SMALLPIPES -------------------------------------------------------------*/
.smallpipes-caption {
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  padding-left: 35px; }

.picture {
  text-align: center; }

.embed-responsive {
  margin: 10px; }

/*---- FOOTER -----------------------------------------------------------------*/
footer {
  background-color: #DAE0E5;
  color: #416777;
  min-height: 75px;
  font-family: "Oswald", sans-serif; }

.footer-links {
  padding: 30px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 400; }
  .footer-links i {
    font-size: 28px; }
  .footer-links a {
    color: #416777; }
    .footer-links a:hover {
      color: #282828;
      transition: all 0.35s ease-in-out; }

.newletter-input {
  width: 80%; }

input[type="submit"] {
  border-radius: 7px; }
  input[type="submit"]:hover {
    background-color: #416777;
    color: #DAE0E5;
    transition: all .35s ease-in-out; }
  input[type="submit"]:active {
    background-color: #DAE0E5;
    color: black;
    transition: all .35s ease-in-out; }